<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="serviceClass"
		class="com.chulan.monitorservice.model.ServiceClass">
	</bean>
	<bean id="readFile" 
		class="com.chulan.monitorservice.service.ReadFile">
	</bean>
	<bean id="registerService" 
		class="com.chulan.monitorservice.service.RegisterService">
	</bean>
	<bean id="initData" 
		class="com.chulan.monitorservice.service.InitialData">
	</bean>
	<bean id="selectServiceController" 
		class="com.chulan.monitorservice.controller.SelectServiceController">
	</bean>
	<bean id="multipleCallers"
		class="com.chulan.monitorservice.service.MultipleCallersForSameService">
	</bean>
</beans>
